{% extends 'base.html' %}
{% include "nav.html" %}

{% block titulo %} Busqueda {% endblock %}
{% block contenido %}


<div id="resultado" >
<h1>Busqueda filtrada</h1>
<form class='estiloform' name='formulario' action="">
	<div><label for="p">Buscar: </label></div>
	<div><input type="text" name="q"  value="{{ consulta|escape }}"></div>
	<div><input type='submit' value='enviar' onclick="ConsultaFiltrado(); return false"></div>
	{% if consulta %}	  
	   <h1>Resultados para "{{ consulta|escape }}":</h1>
	{% if results %}	

		<table class="table table-hover">			
			<tr>
				<td>Nombre</td>
				<td>URL</td>
				<td>Continente</td>
				<td>País</td>
			</tr>		
			{% for universidad in results %}							
				<tr>
					<td>{{universidad.nombre_univ|upper}}</td>
					<td>{{universidad.pagina_web_univ}}</td>
					<td>{{universidad.Continente}}</td>
					<td>{{universidad.Pais}}</td>
				</tr>					
			{% endfor %}
			</table>		
	{% else %}
		<div class="mensaje" align="justify">No hay resultados</div>
	{% endif %}	
{% endif %}
</form>
<div id=Vacios align="center" ></div>
{% endblock contenido %}

