<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Ingresa al Sistema - {% block titulo %}{% endblock %}</title>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  {% block style_css %}{% endblock %}
  <script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script>
  <script src='{{STATIC_URL}}js/demo.js'></script>
</head>
<body>
	<header>
    	<div class="hero-unit">
    		{% block encabezado %}
    		<h2>Ingreso al Sistema</h2>
    		{% endblock %}
	     	<section class='contenido'>
	     		{% block contenido %}Portal para visualizar las Universidades a nivel mundial{% endblock %}
	     	</section>
	    	<hr><br>
	    	<form id='formulario' method='post' action=''>{% csrf_token %}
	     		<table>{{formulario}}</table>
	     		<p><input type='submit' class="btn btn-primary" value='Ingresar'/></p>
	     	</form>

	    </div>
	</header>
	<footer>
		<p>Realizado por OJ &copy;2013</p>
	</footer>
</body>
</html>
