{% extends 'base.html' %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 
    <h1>Universidades del Mundo</h1>
{% endblock %}

{% block contenido %}
  <p>
      Actualmente tenemos registradas: 
     {% with total=universidades.count %} 
        {{total}} universidad{{total|pluralize}}
     {% endwith %}
  </p>
    <ul>        
      {% for elemento in universidades %}
      <li class="{% cycle 'impar' 'par' %}">{{elemento.nombre_univ|title}}</li>
      {% empty %}
      <li>No hay universidades registradas aún.</li>
      {% endfor %}
    </ul>
{% endblock %}