  {% extends 'base.html' %}

{% block titulo %} Acerca de {% endblock %}

{% block encabezado %} 
    <h1>Acerca de</h1>
{% endblock %}

{% block contenido %}
  <p>
    <table>
      <td>
        <address>
          <strong>Oswaldo Alvarado Hidalgo</strong><br>
          Estudiante en Formación<br>
          Universidad Técnica Particular de Loja<br>
          Twiiter: <a href="#">@Wald1to</a><br>
          <abbr title="Phone">Cel:</abbr> (+593) 987-441878<br>
          Mail: <a href="mailto:#">oalvarado1@utpl.edu.ec</a>
        </address>
      </td>
      <td><td></td></td><td><td></td></td><td><td></td></td><td><td></td></td><td><td></td></td><td><td></td></td>
      <td>
        <address>
          <strong>Jonathan Alfredo Cortéz Villa</strong><br>
          Estudiante en Formación<br>
          Universidad Técnica Particular de Loja<br>
          Twiiter: <a href="#">@Wald1to</a><br>
          <abbr title="Phone">Cel:</abbr> (+593) 987-441878<br>
          Mail: <a href="mailto:#">jacortez@utpl.edu.ec</a>
        </address>
      </td>
    </table>
  </p>
{% endblock %}