{% extends 'base.html' %}

{% block titulo %} Universidades Registradas {% endblock %}

{% block css %}
  <style>
    img { 
        width:100px; 
    }
  </style>
{% endblock %}

{% block encabezado %}
{% include "nav.html" %}
  <h1>Universidades</h1>
{% endblock %}

{% block contenido %}

<a href="/universidad/nueva">Agregar una Universidad</a>
<br><br>
    <ul>
        {% for dato in datos %}
        <li>
            <a href='{% url escuela.views.detalle_universidad dato.id %}'>{{dato.nombre_univ}}</a>
        </li>
        {% empty %}
        <li>Aún no hay recetas registradas</li>
        {% endfor %}
    </ul>
    <br>
{% endblock %}