{% extends 'base.html' %}

{% block titulo %} {{universidad.nombre_univ}} {% endblock %}

{% block encabezado %} 
{% include "nav1.html" %}
  <h2>{{universidad.nombre_univ|title}}</h2>
{% endblock %}

{% block contenido %}
<h2>Detalle de Universidad: {{universidad.nombre_univ}}</h2>
<br>
    <div id='nombre_univ'>
        <h2>Nombre</h2>
        <p>{{universidad.nombre_univ}}</p>
    </div>
    <br>
    <div id='pagina_web_univ'>
        <h2>URL</h2>
        <p>{{universidad.pagina_web_univ}}</p>
    </div>
    <br>
    <div id='pais'>
        <h2>Pais</h2>
        <p>{{universidad.Pais}}</p>
    </div>
    <br>
    <div id='continente'>
        <h2>Continente</h2>
        <p>{{universidad.Continente}}</p>
    </div>
    <br><br>
{% endblock %}